/* Quitar bordes de la tabla del calendario */
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid {
  border: none !important;
}

/* Asegurar altura y alineación uniforme del número del día */
.fc-daygrid-day-top {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centrar el texto del día */
.fc-daygrid-day-number {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

/* Estilo solo al número del día actual (hoy) */
.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
  color: inherit;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  background-color: rgb(38, 161, 231);
  color: white;
/*   border-radius: 50%;
 */  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Añadir un punto rojo en las celdas con eventos */
.has-event-dot {
  position: relative;
}

.has-event-dot::after {
  content: '';
  position: absolute;
  top: 75%; /* Puedes ajustar esto si el punto está muy bajo o alto */
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: #ff7f50;
  border-radius: 50%;
  z-index: 9999;
}

/* Ocultar texto de evento en el calendario */
.fc-daygrid-more-link,
.fc-daygrid-day-events {
  display: none !important;
}
