<div
  class="grid grid-cols-3 items-center bg-white dark:bg-gray-800 dark:text-white px-9 shadow mb-5 px-7"
>
  <!-- Aparece solo en pantallas grandes -->
  <button (click)="goToHome()" class="w-fit">
    <app-logo />
  </button>
  <!-- Centro -->
  <h1 class="text-xl font-bold text-center">{{ pageTitle }}</h1>

  <!-- Derecha -->
  <div class="text-right">
    
    <!-- Botón que activa el popover -->
    <button
      pButton
      type="button"
      icon="pi pi-cog"
      (click)="menu.toggle($event)"
      class="px-5 py-3 rounded-full"
    ></button>
    <p-popover  #menu>
      <div class="flex flex-col gap-2 p-2 min-w-[150px]">

        <!-- Opción 1: Ir a inicio -->
        <button pButton label="Inicio" 
                (click)="goToHome(); menu.hide()" 
                [hidden]="isOnRoute('/dashboard')" 
                class="w-full">
        </button>

        <!-- Opción 2: Ir a perfil -->
        <button pButton label="Mi perfil" 
                (click)="goToProfile(); menu.hide()" 
                [hidden]="isOnRoute('/dashboard/user-profile')" 
                class="w-full">
        </button>

        <!-- Opción 3: Darkmode -->
        <button pButton 
                (click)="toggleDarkMode(); menu.hide()" 
                [label]="isDarkMode() ? '☀️ Modo claro' : '🌙 Modo oscuro'" 
                [hidden]="isOnRoute('/dashboard/settings')" 
                class="w-full">
        </button>

        <!-- Opción 4: Ir a ajustes -->
        <button pButton label="Configuración" 
                (click)="goToSettings(); menu.hide()" 
                [hidden]="isOnRoute('/dashboard/settings')" 
                class="w-full">
        </button>

        <p-button label="Descargas" 
                (click)="goToDownloads(); menu.hide()" 
                icon="pi pi-download"
                [hidden]="isOnRoute('/dashboard/downloads')" 
                styleClass="w-full">
        </p-button>

        <!-- Opción 5: Ir a Sobre Nosotros -->
        <button pButton label="Sobre Nosotros" 
                (click)="goToAboutUs(); menu.hide()" 
                [hidden]="isOnRoute('/dashboard/settings') || isOnRoute('/dashboard/about-us')" 
                class="w-full">
        </button>

        <!-- Opción 6: Cerrar sesión -->
        <button pButton label="Cerrar sesión" 
                severity="danger" 
                (click)="logout()" 
                class="w-full">
        </button>

      </div>
    </p-popover >
  </div>
</div>
