<div class="login-container">
  <div class="login-content">
    <div class="brand-section">
      <h1 class="app-name">Nido</h1>
      <p class="app-slogan">Cuidando tu familia, simplificando tu vida.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <div class="input-group p-fluid">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          pInputText
          formControlName="email"
          placeholder="tu.email@ejemplo.com"
          [ngClass]="{
            'ng-invalid ng-dirty': f['email'].invalid && f['email'].touched
          }"
        />
        @if (loginForm.get('email'); as emailControl) { @if
        (emailControl.invalid && emailControl.dirty) {
        <small class="p-error">
          @if (emailControl.errors?.['required']) { El email es obligatorio. }
          @if (emailControl.errors?.['email']) { Introduce un email válido. }
        </small>
        } }
      </div>

      <div class="input-group p-fluid">
        <label for="password">Contraseña</label>
        <p-password
          id="password"
          formControlName="password"
          placeholder="********"
          [toggleMask]="true"
          [feedback]="false"
          inputStyleClass="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty':
              f['password'].invalid && f['password'].touched
          }"
        ></p-password>
        @if (f['password'].invalid && f['password'].dirty) {
        <small class="p-error">
          @if (f['password'].errors?.['required']) { La contraseña es
          obligatoria. } @if (f['password'].errors?.['minlength']) { La
          contraseña debe tener al menos
          {{ f['password'].errors?.['minlength'].requiredLength }} caracteres. }
        </small>
        }
      </div>

      @if (errorMessage) {
      <small class="p-error">{{ errorMessage }}</small>
      }

      <button
        pButton
        type="submit"
        label="Iniciar Sesión"
        class="p-button-primary"
      ></button>
    </form>

    <div class="register-link-section">
      <p class="register-text">
        ¿No tienes cuenta aún?
        <a (click)="goToRegister()" class="register-link">¡Créala ahora!</a>
      </p>
    </div>
  </div>
</div>
