<div
  class="fixed inset-0 backdrop-blur-xs flex items-center justify-center z-50"
>
  <div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-lg w-[90%] max-w-md max-h-[90vh] flex flex-col p-6 overflow-hidden"
  >
    <!-- Título fijo -->
    <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4 shrink-0">
      @if(editMode) {
        @if(tipo === 'objetivo') {
          Editar actividad {{actividadInfo?.titulo || ''}}
        } @else {
        Editar {{tipo}} {{actividadInfo?.titulo || ''}}}
      } 
      @else {
        Crear {{tipo}}
      }

    </h2>

    <!-- Contenido con scroll -->
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4 overflow-y-auto grow pr-1 scroll-invisible dark:text-white"
    >
      <input
        type="text"
        placeholder="Título"
        pInputText
        formControlName="titulo"
        class="p-3 rounded-md"
      />
      @if(tipo === 'evento') {
      <div>
        <textarea
          placeholder="Descripción"
          pTextarea
          formControlName="descripcion"
          class="p-3 rounded-md w-full h-19"
        ></textarea>
      </div>
      }

      <p-select
        [options]="filtroOpciones"
        formControlName="ninos_id"
        [optionValue]="'value'"
        optionLabel="label"
        placeholder="Selecciona Niño"
      ></p-select>
      <div class="flex items-center gap-4">
        <span class="min-w-max text-gray-700">Fecha de realización:</span>
        <div class="flex-1 flex justify-end">
          <p-datepicker
            formControlName="fecha_realizacion"
            class="border-0 rounded-md w-full max-w-[220px]"
            [iconDisplay]="'input'"
            [appendTo]="'body'"
            [showIcon]="true"
          ></p-datepicker>
        </div>
      </div>
      <div class="flex justify-between align-middle">
        <span class="flex items-center justify-center">Hora de inicio:</span>
        <p-datepicker
          [iconDisplay]="'input'"
          [timeOnly]="true"
          formControlName="hora_inicio"
          class="border-0 rounded-md"
        />
      </div>
      @if(tipo === 'evento') {
      <div class="flex justify-between align-middle">
        <span class="flex items-center justify-center">Hora de fin:</span>
        <p-datepicker
          [iconDisplay]="'input'"
          [timeOnly]="true"
          formControlName="hora_fin"
          class="border-0 rounded-md"
        />
      </div>
      }
      @if(tipo === 'evento') {
      <p-select
        [options]="usuariosResponsables"
        formControlName="usuario_responsable"
        optionLabel="label"
        [optionValue]="'value'"
        placeholder="Responsable"
      ></p-select>
      }
      @if(tipo === 'evento') {
        <div>
        <span>Seleccione color del evento:</span>

        <p-colorpicker
          formControlName="color"
          [inline]="isMobile"
          [appendTo]="'body'"
          class="w-full h-12 border-0 rounded-md p-1"
        ></p-colorpicker>
      </div>
      }
@if(tipo === 'evento') {
      <app-ubicacion formControlName="ubicacion"  [ubicacion]="actividadInfo?.ubicacion ?? null"></app-ubicacion>
      }
      <div class="flex justify-end gap-2 mt-4 shrink-0">
        <button
          type="button"
          (click)="cerrarModal()"
          class="px-4 py-2 rounded-md bg-gray-200 text-gray-700 hover:bg-gray-300"
        >
          Cancelar
        </button>
        <button
          type="submit"
          [disabled]="form.invalid"
          class="px-4 py-2 rounded-md text-white bg-purple-500 hover:bg-purple-600 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
        >
        @if(editMode) {
        Editar {{tipo}} 
        } 
        @else {
          Crear {{tipo}}
        }

        </button>
      </div>
    </form>

  </div>
</div>
