<div
  class="fixed inset-0 backdrop-blur-xs flex items-center justify-center z-50"
>
  <div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-lg w-[90%] max-w-md max-h-[90vh] flex flex-col p-6 overflow-hidden"
  >
    <!-- Título fijo -->
    <h2
      class="text-xl font-semibold text-gray-800 dark:text-white mb-4 shrink-0"
    >
      @if(tipo === 'edit') { Editar } @if(tipo === 'login') { Iniciar Sesión }
      @if(tipo === 'register') { Crear Cuenta }
    </h2>

    <!-- Contenido con scroll -->
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4"
    >
      @if (tipo === 'edit') {

      <div class="profile-picture-section">
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          accept="image/*"
          class="file-input hidden"
        />
        <div
          class="profile-picture-placeholder cursor-pointer"
          (click)="fileInput.click()"
        >
          <img
            [src]="
              profileImageUrl
                ? profileImageUrl
                : 'https://img.icons8.com/?size=40&id=85103&format=png&color=000000'
            "
            alt="Foto de Perfil"
            class="profile-image"
          />
        </div>
      </div>
      } @if (tipo !== 'login') {
      <div class="flex flex-col">
        <label for="nick">Nombre de Usuario</label>
        <input id="nick" type="text" pInputText formControlName="nick" />
      </div>
      } @if (tipo === 'edit') {

      <div class="flex flex-wrap gap-4 w-full">
        <div class="flex flex-col flex-1 min-w-[150px]">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" pInputText formControlName="nombre" />
        </div>
        <div class="flex flex-col flex-1 min-w-[150px]">
          <label for="apellido">Apellido</label>
          <input
            id="apellido"
            type="text"
            pInputText
            formControlName="apellido"
          />
        </div>
      </div>

      <!-- Imagen -->

      }

      <div class="flex flex-col">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText formControlName="email" />
      </div>

      @if (tipo !== 'edit') {

      <div class="flex flex-col">
        <label for="password">Contraseña</label>
        <p-password
          formControlName="password"
          toggleMask="true"
          feedback="false"
        />
      </div>
      } @if (tipo === 'register') {
      <div class="flex flex-col">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <p-password
          formControlName="confirmPassword"
          toggleMask="true"
          feedback="false"
        />
      </div>

      @if (form.errors?.['mismatch'] && form.dirty) {
      <p-message severity="error">Las contraseñas no coinciden.</p-message>
      } }
      <div class="flex justify-end gap-2 mt-4">
        @if(tipo === 'edit') {
        <p-button label="Cancelar" (click)="cerrarModal()"></p-button>
        }

        <p-button
          [label]="
            tipo === 'login'
              ? 'Iniciar sesión'
              : tipo === 'register'
              ? 'Registrarse'
              : 'Guardar Cambios'
          "
          type="submit"
          [disabled]="form.invalid"
        />
      </div>
    </form>
    <div class="mt-5">
      @if(tipo === 'login') {
      <div class="flex gap-1 justify-center">
        <p>¿No tienes cuenta?</p>
        <a (click)="goToRegister()" class="underline cursor-pointer"
          >¡Créala ahora!</a
        >
      </div>
      } @if(tipo === 'register') {
      <div class="mt-5">
        <div class="flex gap-1 justify-center">
          <p>¿Ya tienes cuenta?</p>
          <a (click)="goToLogin()" class="underline cursor-pointer"
            >¡Inicia sesión!</a
          >
        </div>
      </div>
      }
    </div>
  </div>
</div>
