<div class="welcome-container">
  <div class="welcome-content">
    <img
      src="https://img.icons8.com/?size=100&id=41330&format=png&color=FFFFFF"
      alt="Logo de Nido"
      class="logo"
    />
    <h1 class="welcome-title">Bienvenido a Nido</h1>
    <p class="welcome-description">
      Tu plataforma colaborativa para la crianza.<br />
      Organiza rutinas, coordina actividades y comparte momentos clave con tu
      familia.
    </p>
    <!-- <button class="continue-button" (click)="continueToLogin()">
      Continuar
    </button> -->
    <p-button label="Iniciar Sesión" [raised]="true" (onClick)="continueToLogin()" />
  </div>
</div>
