<div class="fixed inset-0 backdrop-blur-xs flex items-center justify-center z-50">
  <div
    class="bg-white dark:bg-gray-800 rounded-2xl shadow-lg w-[90%] max-w-md max-h-[90vh] flex flex-col p-6 overflow-hidden">
    <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-4 shrink-0">
      @if (editMode) {
      Editar Nota
      } @else {
      Nueva Nota
      }
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4 overflow-y-auto grow pr-1 scroll-invisible dark:text-white">
      <input type="text" placeholder="Título" pInputText formControlName="titulo" class="p-3 rounded-md" />

      <textarea placeholder="Contenido" pTextarea formControlName="texto" class="p-3 rounded-md w-full h-32"></textarea>

      <p-select [options]="children" formControlName="ninos_id" optionLabel="label" [optionValue]="'value'"
        placeholder="Selecciona Niño" [appendTo]="'body'" class="w-full"></p-select>

      <div class="flex justify-end gap-2 mt-4 shrink-0">
        <p-button label="Cancelar" (onClick)="cerrarModal()" severity="secondary"/>
          <p-button
            type="submit"
            [disabled]="form.invalid"
            severity="primary"
            [label]="editMode ? 'Actualizar Nota' : 'Guardar Nota'"
          />
      </div>
    </form>
  </div>
</div>