<h1 class="text-2xl font-semibold mb-5 text-center">
  ¿Necesitas añadir más niños?
</h1>

<div class="flex flex-col gap-4 mb-6">
  @for (child of children; track child.id) {
  <div class="card-secondary">
    <div class="flex-1">
      <p class="text-lg font-medium text-gray-800">{{ child.name }}</p>
    </div>
  </div>
  } @empty {
  <p class="text-center text-gray-500 italic">
    Aún no has añadido ningún niño. ¡Comienza ahora!
  </p>
  }
</div>

<p-button
  type="button"
  label="Añadir otro niño"
  styleClass="w-full mb-4 p-button-primary"
  icon="pi pi-plus"
  (onClick)="addNewChild()"
></p-button>

<a
  class="block text-center underline text-white font-medium cursor-pointer transition hover:text-black disabled:opacity-50"
  [class.pointer-events-none]="children.length === 0"
  [class.opacity-50]="children.length === 0"
  (click)="children.length > 0 && continueToNextStep()"
  tabindex="0"
  role="link"
  [attr.aria-disabled]="children.length === 0"
>
  Continuar al siguiente Paso
</a>

<p-button
  type="button"
  label="Borrar Todos los Niños (Solo Desarrollo)"
  styleClass="w-full mt-4 p-button-danger p-button-sm"
  icon="pi pi-trash"
  (onClick)="clearAllChildren()"
></p-button>
