<div
  class="grid grid-cols-3 items-center p-4 bg-[#9ed2c5] dark:bg-gray-800 dark:text-white"
>
  <!-- Aparece solo en pantallas grandes -->
  <h1 class="hidden md:block text-xl font-bold">Nido</h1>

  <!-- Aparece solo en pantallas pequeñas y medianas -->
  <div class="flex justify-start md:hidden px-4 pt-2">
    <button (click)="goBack()" class="text-white text-base" aria-label="Volver">
      <i class="pi pi-arrow-left text-gray-700 dark:text-white text-sm"></i>
    </button>
  </div>
  <!-- Centro -->
  <h1 class="text-xl font-bold text-center">{{ pageTitle }}</h1>

  <!-- Derecha -->
  <div class="text-right">
    <button
      pButton
      (click)="toggleDarkMode()"
      class="bg-[#ff7f50] dark:bg-gray-700 text-white px-4 py-2 rounded"
    >
      @if (isDarkMode()) { 🌙 Modo oscuro } @else { ☀️ Modo claro }
    </button>
  </div>
</div>
