<!-- Toast y ConfirmDialog -->
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<section class="p-6">
  <!-- Cabecera -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Mis Notas</h1>
    <p-button icon="pi pi-plus" label="Nueva Nota" [raised]="true" styleClass="bg-primary text-white"
      (onClick)="openNewNoteForm()" />
  </div>

  <!-- Filtros -->
  <app-notes-filters (filtersChange)="onFiltersChange($event)" class="mb-6"></app-notes-filters>

  <!-- Lista de notas -->
  <div class="mt-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    @if (filteredNotes.length === 0) {
    <p class="text-gray-500 col-span-full">No hay notas disponibles.</p>
    }

    @for (note of filteredNotes; track note.id) {
    <app-note-card [note]="note" (edit)="editNote(note)" (delete)="deleteNote(note)"></app-note-card>
    }
  </div>
</section>

<!-- Modal de formulario -->
@if (showForm) {
<app-note-form [notaInfo]="noteToEdit" [children]="childrenOptions" (cerrar)="closeForm()"
  (guardar)="onGuardarNota($event)" (editar)="onEditarNota($event)" />
}