@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }
}

@theme {
  --font-nido: "Poppins", "sans-serif";
}

body {
  line-height: 1.5;
}

.card {
  @apply dark:bg-[#9ed2c5] shadow-md bg-[#4e8778] p-6 rounded-lg text-white dark:text-gray-700; 
}

label {
  @apply font-medium text-sm;
}