<div class="edit-profile-container">
  <div class="edit-profile-content">
    <h1 class="page-title">Editar Perfil</h1>

    <div class="profile-picture-section">
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        accept="image/*"
        class="file-input"
      />
      <div class="profile-picture-placeholder" (click)="fileInput.click()">
        @if (profileImageUrl) {
        <img
          [src]="profileImageUrl"
          alt="Foto de Perfil"
          class="profile-image"
        />
        } @else {
        <img
          src="https://img.icons8.com/?size=40&id=85103&format=png&color=000000"
        />
        }
      </div>
    </div>

    <form
      [formGroup]="userEditForm"
      (ngSubmit)="onSubmit()"
      class="edit-form"
    >
      <div class="input-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          formControlName="nombre"
          placeholder="Tu nombre"
        />
      </div>

      <div class="input-group">
        <label for="apellido">Apellido</label>
        <input
          type="text"
          id="apellido"
          formControlName="apellido"
          placeholder="Tu apellido"
        />
      </div>

      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="nombredeusuario"
        />
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [readonly]="true"
          class="readonly-input"
        />
      </div>

      <div class="input-group">
        <label for="password">Nueva Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="********"
        />
      </div>

      <div class="input-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="********"
        />
      </div>

      @if (userEditForm.errors?.['mismatch'] && userEditForm.touched) {
      <p class="error-message">Las contraseñas no coinciden.</p>
      }

      <button type="submit" class="submit-button">Guardar Cambios</button>
    </form>
  </div>
</div>
