<div class="my-family-container">
  <div class="my-family-content">
    <h1 class="page-title">¿Necesitas añadir más niños?</h1>

    <div class="children-cards-section">
      @for (child of children; track child.id) {
      <div class="child-card">
        <div class="child-profile-pic">
          @if (child.profileImageUrl) {
          <img
            [src]="child.profileImageUrl"
            alt="Foto de {{ child.name }}"
            class="child-image"
          />
          } @else {
          <img
            src="https://img.icons8.com/?size=40&id=85103&format=png&color=000000"
            alt="Foto por defecto"
            class="default-child-icon"
          />
          }
        </div>
        <div class="child-info">
          <p class="child-name">{{ child.name }}</p>
        </div>
      </div>
      } @empty {
      <p class="no-children-message">
        Aún no has añadido ningún niño. ¡Comienza ahora!
      </p>
      }
    </div>

    <button class="add-child-button" (click)="addNewChild()">
      Añadir Niño
    </button>

    <button class="continue-button" (click)="continueToNextStep()">
      Continuar al Siguiente Paso
    </button>

    <button class="clear-children-button" (click)="clearAllChildren()">
      Borrar Todos los Niños (Solo Desarrollo)
    </button>
  </div>
</div>
